@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

body {
    background-color: aliceblue;
    padding: 2% 5% 2% 5%;
    font-family: 'Didact Gothic', sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
    color: black;
}

.spanHeader {
    color: #DB016A;
}

