@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

 * {
        margin: 0;
        padding: 0;
    }

body {
    background-color: aliceblue;
    padding: 2% 5% 2% 5%;
    font-family: 'Didact Gothic', sans-serif;
}

button{
    outline: none;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
    color: black;
}

.spanHeader {
    color: #DB016A;
}

#bannerIntroduction {
    padding: 10% 20% 10% 20%;
    display: flex;
    justify-content: space-around;
}

#textBannerIntro {
    margin: auto;
    margin-right: 10%;
}

#myName {
    color: #0a0024;
    font-size: 35px;
    margin-top: 0%;
    margin-bottom: 0%;
}

#myBiggerName {
    color: #5B00DB;
    font-size: 45px;
    margin-top: 0%;
    margin-bottom: 0%;
}

#whatIAm {
    font-size: 15px;
}

#myQuote {
    font-size: 15px;
}

#imageIntroduction {
    width: auto;
    margin: auto;
    margin-left: 2%;
}

#introducingMyBackground {
    padding: 10% 20% 10% 20%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

.titles {
    font-size: 235%;
}

.spans {
    color: #5B00DB;
}

#myProjects {
    padding: 10% 0% 10% 0%;
    display: flex;
    justify-content: space-between;
}

.cardProject {
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
    vertical-align: middle;
}

#titleProject {
    padding-top: 5%;
    padding-right: 5%;
}

#myProfiles {
    padding: 7% 20% 7% 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    font-size: 200%;
}

.titleProfile {
    margin: 0% auto 0% auto;
    font-size: 135%;
}

#inImages {
    padding: 10% 0% 10% 0%;
    text-align: center;
}

#imagesInImages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#hiddenTalents {
    padding: 10% 0% 10% 0%;
    text-align: justify;
}

#funnyTrivia {
    padding: 2% 0% 10% 0%;
    text-align: center;
}

#questionsFunFacts {
    list-style-type:none;
    font-family: 'Sacramento', cursive;
    font-size: 220%;
}

#buttonTrivia {
    background-color: #DB016A;
    border: none;
    border-radius: 25px;
    font-size: 150%;
    font-family: 'DotGothic16', sans-serif;
    padding: 1% 4% 1% 4%;
}

#containerTrivia {
    display: flex;
    justify-content: space-around;
}

#funFact-container {
    font-size: 100%;
    font-family: 'DotGothic16', sans-serif;
    text-align: center;
    padding-top: 30%;
}

#foodContainer {
    list-style-type:none;
    font-family: 'Didact Gothic', sans-serif;
}

footer {
    text-align: center;
}